@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Stowarzyszenie Projekt Września</h1>
    <p>Więcej o <a href="https://www.projektwrzesnia.pl/wordpress/">nas</a>.</p>
</div>
