@model QuizLeaderboardVM

<h2 class="mb-4">Wynik quizu</h2>



<div class="d-flex justify-content-between align-items-center mb-4">
    <a asp-action="Index" class="btn btn-outline-primary btn-sm">
        Powrót
    </a>
</div>

<div class="card mb-3 shadow-sm">
    <div class="card-body">
        <ol class="mb-3">
        @foreach (var result in Model.Results)
        {
            <li>@result.UserName – <strong>@result.Points pkt</strong></li>          
        }
        </ol>

    </div>
</div>